
.top-header{
	 background-image: url('images/top_header.png');
    background-repeat: no-repeat;
    background-size: cover ;
	  margin:  auto;
     height:     auto;  
	max-width: 1920px;
	
}
.contactUsTitle {
	border: 2px solid white;
  border-radius: 25px;
	padding: 35px;
	display: relative;
	margin: auto;
	background: grey;
}

.contactUsTitle strong{
	font-family: Roboto, sans-serif;
	color:#FFFFFF;
	padding-left: 10px;
	white-space: nowrap;
	
	font-weight: bolder;
	font-size: 50px;
}

.form-horizontal{
	color: mintcream;
font-family: Roboto, sans-serif;
	position: relative;
	
	margin-top: 150px;
}

.form-horizontal .form-group {
	margin-top: auto;
}
 .btn-default{
	background-color: #4CAF50;
	 border-radius: 2px;
	 color: black;
  border: 12px solid #0000;
}

.form-horizontal .form-group .col-sm-10 {
	margin-right: 800px;
}

 #inputPassword3{
	padding-bottom: 150px;
	padding-top: 20px;
} 


body{
	
  hieght: auto;
    font-family: "Yantramanav", sans-serif;
}

.

/*navigation*/



	
}



.nav-container .wrapper {
	
    max-width: 1920px;
    margin:  auto;
     height:     auto;
	
	
}


.nav-container {
    background-image: url('images/button_header.png');
    background-repeat: no-repeat;
    background-size:cover ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
	margin: auto;
	max-width: 1920px;
		
	
    
}

.nav2-container {
	
    background-image: url('images/dealer_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 855px;
	max-height: auto;
	margin: auto;
	position: relative;
	max-width: 1920px;
	
    
	
	
}




.nav3-container{
	max-width: 1920px;
	margin: auto;
	
    align-items: center;
    justify-content: space-between;
	
}

 



nav{
	margin: auto;
	
}

nav ul{
    display: flex;
	align-content: center;
	
	
	
}

.nav-container .wrapper {
	
    max-width: 1920px;
    margin:  auto;
     height:     auto;
	
	
}

.top_nav_items li {
    list-style: none;
	padding-top: 165px;

   
	
}
.img-fluid{
	display: block;
	width: auto;
}
#Carosoul1{
	margin: auto;
max-width: 1920px;

}
.top_nav_items li:nth-last-of-type(1) {
}

.top_nav_items li{
	margin: auto;
}
.top_nav_items li a{
color: #FBFBFB;
font-family: Roboto, sans-serif;
font-size: 22px;
text-decoration: none;
margin-right: 90px;

}


	


.botimage  {
	margin: auto;
	max-width: 1920px;
	
	
	
	
}
.botimage img {
	position: absolute;
	margin: auto;
	

}

.bot-header{
	//background-color: green;
	display: flex;
	align-content: space-between;
	
	position: relative;
}

.bot-container {
	position: relative;
	margin: auto;
	max-width: 1920px;
	
}

.bot-container .wrapper{
	max-width: 1920px;
	
	
	
	
	position: relative;
	height: auto;
	bottom: px;
	
}
.bot-header_toptext{
	max-width: 1920px;
	display: flex;
	align-content: center;
	color: #FBFBFB;
font-family: Roboto, sans-serif;
	padding-left: 30px;
font-size: 30px;
}

.bot-header_toptext p{
	
	padding-right: 230px;
	padding-left: 55px;
	padding-top: 40px;
	 white-space: nowrap;
	position: relative;
	
	
}

.bot-header_bottext{
	color: #FBFBFB;
font-family: Roboto, sans-serif;
	position: relative;
white-space: nowrap;
	right: 1830px;
	top: 10px;
	margin: auto;
	max-width: 1920px;
	
}

.bot-header-links li  .quicklink  {
	position: relative;
	bottom: 135px;
	right: 10px;
	color: #FBFBFB;
font-family: Roboto, sans-serif;
font-size: 22px;
text-decoration: none;

}


.bot-header-links {
	position: relative;
	right: 1100px;
	top: 10px;
	list-style: none;
}
.bot-header-links li .inventory {
	position: relative;
	right: 475px;
	top: 90px;

	
	color: #FBFBFB;
font-family: Roboto, sans-serif;
font-size: 22px;
text-decoration: none;
	
}



.sociallogo{
position: relative;
	display: flex;
	align-content: center;
	justify-content: space-around;
	
	right: 820px;
	bottom: 50px;
	
}