<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to LemonsandLimes Auto</title>
    <link rel="stylesheet" href="../static/css/homepage_style.css" />
    <link href="../static/css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--
        <div class="header-container">
            <div class="wrapper">
                <nav>
                    <ul class="top-header">
                        <li>
                            <a href="#">Providing Essentials to our Communities</a>
                        </li>

                        <li>
                            <a href="#"> Hours: Sales: 9am-9pm Monday-Friday: Service: 7am-5pm Closed Sunday</a>
                        </li>

                        <li>
                            <a href="#">5500 University Pkwy, San Bernardino, CA 92407</a>
                        </li>

                        <li>
                            <a href="#">(909) 537-5000</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
     -->

    <div class="top-header">
        <div class="mx-auto" style="width: 1920;">
            <img src="static/images/top_header.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <!--
    <div class="logoimage">
        <img src="static/images/button_header.png"
    </div>
    -->
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <ul class="top_nav_items">

                    <li>
                        <a href="#">PRE-OWNED</a>
                    </li>

                    <li>
                        <a href="about">ABOUT US</a>
                    </li>

                    <li>
                        <a href="contact">CONTACT US</a>
                    </li>

                    <li>
                        <a href="#">FAVORITES</a>
                    </li>

                    <li>
                        <a href="login">LOGIN</a>
                    </li>

                    <li>
                        <a href="signup">SIGN UP</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="nav2-container">
        <div class="wrapper">
            <nav>
                <ul class="middle_nav_items">

                    <li>

                        <button type="button" data-toggle="modal" data-target="#myModal">PRE-OWNED INVENTORY</button>
                    </li>

                    <li>

                        <button type="button" class="2but" data-toggle="modal" data-target="#myModal">SPECIALS</button>
                    </li>

                    <li>

                        <button type="button" data-toggle="modal" data-target="#myModal">SERVICE</button>
                    </li>

                    <li>

                        <button type="button" data-toggle="modal" data-target="#myModal">ABOUT US</button>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Search" name="search" />
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="nav3-container">
        <div class="wrapper">
            <nav>
                <ul class="car_nav_items">
                    <li>
                        <a href="#">Honda Accord</a>
                    </li>

                    <li>
                        <a href="#">Mercedes</a>
                    </li>

                    <li>
                        <a href="#">Nissan</a>
                    </li>

                    <li>
                        <a href="#">Porsche</a>
                    </li>

                    <li>
                        <a href="#">Land Rover</a>
                    </li>

                    <li>
                        <a href="#">Escalade</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="botimage">
        <img src="static/images/bot_header.svg" alt="" />
    </div>

    <div class="bot-container">
        <div class="wrapper">
            <header>
                <div class="bot-header">


                    <div class="bot-header_toptext">
                        <p>
                            DEPARTMENT HOURS
                        </p>

                        <p>
                            INVENTORY
                        </p>

                        <p>
                            QUICK LINKS
                        </p>

                        <p>
                            FOLLOW US
                        </p>
                    </div>

                    <div class="bot-header_bottext">
                        <p> 5500 University Pkwy, San Bernardino, CA 92407</p>
                        <p> Get Directions</p>
                        <p>Sales: 9am-9pm Monday-Friday</p>
                        <p>Service: 7am-5pm Closed Sunday</p>
                    </div>

                    <ul class="bot-header-links">

                        <li>
                            <a href="#" class="inventory">Honda Accord</a>
                        </li>

                        <li>
                            <a href="#" class="inventory">Mercedes</a>
                        </li>

                        <li>
                            <a href="#" class="inventory">Nissan</a>
                        </li>

                        <li>
                            <a href="#" class="inventory">Porsche</a>
                        </li>

                        <li>
                            <a href="#" class="inventory">Land Rover</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink">All Cars</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink">Schedule Service</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink">Coupons</a>
                        </li>

                        <li>
                            <a href="#" class="quicklink">Deals</a>
                        </li>

                    </ul>

                    <div class="sociallogo">
                        <input type="image" src="static/images/face_logo.svg" />
                        <input type="image" src="static/images/twitter_logo.svg" />
                        <input type="image" src="static/images/ig_logo.svg" />
                        <input type="image" src="static/images/you_logo.svg" />
                    </div>
                </div>
            </header>
        </div>
    </div>

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap-4.3.1.js"></script>
</body>
</html>
