<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/signup.css">
<style>
  
</style>
<link href="../static/css/signup.css" rel="stylesheet" type="text/css">
<link href="../static/css/homepage_style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="top-header">
  <div class="mx-auto" style="width: 1920"> <img src="../static/css/images/top_header.png" class="img-fluid" alt="Responsive image"> </div>
</div>
<div class="nav-container">
  <div class="wrapper">
    <nav>
      <ul class="top_nav_items">
        <li> <a href="#">PRE-OWNED</a> </li>
        <li> <a href="#">ABOUT US</a> </li>
        <li> <a href="#">CONTACT US</a> </li>
        <li> <a href="#">FAVORITES</a> </li>
        <li> <a href="#">LOGIN</a> </li>
        <li> <a href="#">SIGN UP</a> </li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <div>
        <div class="containerItems"><span style="position: relative; font-size: 22px">Sign Up</span>
            <p></p>
            <input type="text" placeholder="Enter Email" name="email" required>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            <div class="clearfix">
              <button type="submit" class="signupbtn">Sign Up</button>
            </div>
            &nbsp;</div>
        &nbsp;</div>
</div>

<div class="nav3-container">
  <div class="wrapper">
    <nav>
      <ul class="car_nav_items">
        <li> <a href="#">Honda Accord</a> </li>
        <li> <a href="#">Mercedes</a> </li>
        <li> <a href="#">Nissan</a> </li>
        <li> <a href="#">Porsche</a> </li>
        <li> <a href="#">Land Rover</a> </li>
        <li> <a href="#">Escalade</a> </li>
      </ul>
    </nav>
  </div>
</div>
<div class="botimage"> <img src="../static/css/images/bot_header.svg" alt="" /> </div>
<div class="bot-container">
  <div class="wrapper">
    <header>
      <div class="bot-header">
        <div class="bot-header_toptext">
          <p> DEPARTMENT HOURS </p>
          <p> INVENTORY </p>
          <p> QUICK LINKS </p>
          <p> FOLLOW US </p>
        </div>
        <div class="bot-header_bottext">
          <p> 5500 University Pkwy, San Bernardino, CA 92407</p>
          <p> Get Directions</p>
          <p>Sales: 9am-9pm Monday-Friday</p>
          <p>Service: 7am-5pm Closed Sunday</p>
        </div>
        <ul class="bot-header-links">
          <li> <a href="#" class="inventory">Honda Accord</a> </li>
          <li> <a href="#" class="inventory">Mercedes</a> </li>
          <li> <a href="#" class="inventory">Nissan</a> </li>
          <li> <a href="#" class="inventory">Porsche</a> </li>
          <li> <a href="#" class="inventory">Land Rover</a> </li>
          <li> <a href="#" class="quicklink">All Cars</a> </li>
          <li> <a href="#" class="quicklink">Schedule Service</a> </li>
          <li> <a href="#" class="quicklink">Coupons</a> </li>
          <li> <a href="#" class="quicklink">Deals</a> </li>
        </ul>
        <div class="sociallogo">-
          <input type="image" src="../static/css/images/face_logo.svg" />
          <input type="image" src="../static/css/images/twitter_logo.svg" />
          <input type="image" src="../static/css/images/ig_logo.svg" />
          <input type="image" src="../static/css/images/you_logo.svg" />
        </div>
      </div>
    </header>
  </div>
</div>

</form>
</div>



</body>
</html>